#about {
    --padding-top: 100px;

    padding-top: var(--padding-top);
}

/* About cards container */
.about-cards-row {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 10px;
}


/* Div that builds the card and has the background image */
.about-card {
    --height: 225px;
    --max-width: 400px;
    --width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    height: var(--height);
    max-width: var(--max-width);
    min-width: 200px;


    overflow: hidden;
    position: relative;
    transition: var(--transition);
    width: var(--width);
}

.about-card-1 {
    background-image: linear-gradient(var(--gradient-about-card), var(--gradient-about-card)), url("../images/about/about_image_1.webp");
}

.about-card-2 {
    background-image: linear-gradient(var(--gradient-about-card), var(--gradient-about-card)), url("../images/about/about_image_2.webp");
}

.about-card-3 {
    background-image: linear-gradient(var(--gradient-about-card), var(--gradient-about-card)), url("../images/about/about_image_3.webp");
}

.about-card-4 {
    background-image: linear-gradient(var(--gradient-about-card), var(--gradient-about-card)), url("../images/about/about_image_4.webp");
}

.about-card-5 {
    background-image: linear-gradient(var(--gradient-about-card), var(--gradient-about-card)), url("../images/about/about_image_5.webp");
}

.about-card-6 {
    background-image: linear-gradient(var(--gradient-about-card), var(--gradient-about-card)), url("../images/about/about_image_6.webp");
}

/* When about card gets hovered*/
.about-card:hover, .about-card-hover {

    scale: 1.05;
    
    .about-card-title {
        opacity: 0;
        visibility: 0;
    }

    .about-card-paragraph {
        opacity: 1;
        visibility: 1;
    }
}

/* Makes the background image be blured */
.about-card-paragraph {
    backdrop-filter: blur(10px);
}

/* Alings the text, sets the transition and size of the inner divs of the about cards */
.about-card-title,
.about-card-paragraph {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 15px 15px;
    position: absolute;
    text-align: center;
    transition: var(--transition);
    width: 100%;
}

/* About card title */
.about-card .h5 {
    color: var(--text-color-1);
}

/* About card paragraph */
.about-card .p {
    --font-size: 15px;

    color: var(--text-color-2);
    font-size: var(--font-size);
}

.about-card-paragraph {
    opacity: 0;
    visibility: 0;
}

/* Devices above 467px wide */
@media(467px < width) {

}

/* Devices above or equal to 680px wide */
@media (680px <= width) {

    .about-card {
        --max-width: 100%;
        --width: 300px;
    }

    #about {
        --padding-top: 50px;
    }

}

/* Devices above 800px wide */
@media (800px < width) {

    .about-card {
        --width: 325px;
    }

}

/* Devices above 950px wide */
@media (950px < width) {

    .about-card {
        --height: 210px;
    }

}

/* Devices above 950px wide */
@media (1200px < width) {

    .about-card {
        --width: 360px;
    }

}
/* Devices above 950px wide */
@media (1400px < width) {

    .about-card {
        --height: 250px;
        --width: 400px;
    }

}
