#footer {
<<<<<<< HEAD
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--accent-background);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
    padding: 50px 10px;
    text-align: center;
    width: 100%;
=======
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--footer-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
  padding: 50px 10px;
  text-align: center;
  width: 100%;
>>>>>>> 8c5a94d923034db8e976e1cdaf042fe62e9f440a
}

.footer-ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  list-style: none;

  .footer-social-media {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    .social-icon {
      height: auto;
      -webkit-transition: var(--transition);
      -o-transition: var(--transition);
      transition: var(--transition);
      width: 20px;
    }
  }

  .footer-social-media:hover .social-icon {
    scale: 1.1;
  }
}

.footer-p {
  color: var(--text-color-2);
  font-size: 16px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.footer-p:hover {
  scale: 1.02;
}
